$brand-primary:         #C40B20;

$brand-secondary:   #85928E;

$progress-1:      #48AF56;
$progress-2:            lighten($progress-1, 10%);
$progress-3:            lighten($progress-1, 20%);
$progress-4:            lighten($progress-1, 30%);
$progress-5:            lighten($progress-1, 40%);
$table-border-color:            #E7E7E7;

$btn-default-color:              #FFF;

$btn-default-bg:                 #97a39f;

$btn-default-border:             #97a39f;

//** `.form-group` margin
$form-group-margin-bottom:       15px;

$zindex-modal-background:  1040;
$zindex-modal:             1050;
$grid-columns:              16;

$grid-gutter-width:         40px;

$label-primary-bg:            #9AB8D9;

$progress-bar-color:          #222;

$progress-bar-bg:             #EBEBEB;

$panel-body-padding:          20px;

$panel-default-border:        #E7E7E7;
